/* CONTENEDOR */
.carousel-container{
	border: 2px solid red;
}


/* HEADER */
.carousel-header{
	border: 2px solid green;
}


/* BODY */
.carousel-body{
	border: 2px solid blue;
}

.carousel-items{
	border: 2px solid magenta;	
}

.item{
	border: 2px solid rosybrown;	
}

.itemPart{
	border: 2px solid yellow;	
}

/* CONTROLS */
.carousel-controls{
	border: 2px solid yellowgreen;
}

.carousel-buttons{
	border: 2px solid aqua;	
}
.carousel-btn-previous{
	border: 2px solid aquamarine;	
}
.carousel-Inner-howMany{
	border: 2px solid cadetblue;	
}
.actual{
	border: 2px solid crimson;	
}
.total{
	border: 2px solid red;	
}
.carousel-btn-pause{
	border: 2px solid green;	
}
.carousel-btn-play{
	border: 2px solid blueviolet;	
}
.carousel-btn-next{
	border: 2px solid navy;	
}